<a href="https://colab.research.google.com/github/lakshyajain1508/Python/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from re import S
# Sum Function: Write a function named calculate_sum that takes two parameters (a and b) and returns their sum. Call the function with different values and print the results.

def Sum (a,b):
    return print("Sum : ", a + b)


Sum(10,20)
Sum(100,300)

Sum :  30
Sum :  400

In [54]:
# Factorial Function:Write a function named calculate_factorial that takes an integer parameter (n) and returns its factorial. Call the function with different values and print the results.

def calculate_factorial(n):
  num = int(n)
  i = 1
  while n > 0:
    i = i * n
    n = n - 1
  return print("Factorial of",num ,"=",i)

calculate_factorial(5)
calculate_factorial(6)

Factorial of 5 = 120
Factorial of 6 = 720

In [61]:
'''Even/Odd Checker Function:
Write a function named is_even that takes an integer as a parameter and returns True if it's even and False otherwise.
Call the function with different values and print the results.'''

def is_even(n):
  while True:
    if(n%2 == 0):
      return print(n,"is even.")
      break;
    else:
      return print(n, "is odd.")
      continue;


is_even(20)
is_even(31)
is_even(32)
is_even(41)

20 is even.
31 is odd.
32 is even.
41 is odd.

In [126]:


def bill(num_product, num_price):

    products = []
    prices = []

    for i in range(int(num_product)):
        product = input()
        products.append(product)
        print("Product Name", i+1, "=", product)

    for i in range(int(num_price)):
        price = input()
        prices.append(int(price))
        print("Price Of Product", i+1, "=", price)

    yes = input("Do you want GST (Y/N)")
    print("GST =", yes)
    if(yes == 'y' or yes == 'Y'):
      GST = input()
      GST = float(GST)
      total = 0
      for i in range(int(num_price)):
        total += prices[i]
        print(i+1, "Product", products[i], "Price =", prices[i])
      gst = total * GST / 100
      MRP = total + gst
      print("GST =", GST, "%")
      print("GST Amount =", gst)
      print("Total (With GST) =", MRP)
    else:
      total = 0
      for i in range(int(num_price)):
        total += prices[i]
        print(i+1, "Product", products[i], "Price =", prices[i])
      print("Total (Without GST) =", total)

bill(2,2)

Python
Product Name 1 = Python
java
Product Name 2 = java
1500
Price Of Product 1 = 1500
1500
Price Of Product 2 = 1500
Do you want GST (Y/N)n
GST = n
1 Product Python Price = 1500
2 Product java Price = 1500
Total (Without GST) = 3000