In [ ]:
#Dictionary

data = {'name':'joy','age':25,'height':5.4}
print(data)

{'name': 'joy', 'age': 25, 'height': 5.4}

In [ ]:
#  access data
print(data['name'])

# 2nd Type
x = data['name']
print(x)

joy
joy

In [ ]:
# add data

data['city'] = 'mumbai'
print(data)

{'name': 'joy', 'age': 25, 'height': 5.4, 'city': 'mumbai'}

In [14]:
data = {'name': 'joy', 'age': 25, 'height': 5.4, 'city': 'mumbai'}
for i in data:
  print(i ,"=",data[i])

name = joy
age = 25
height = 5.4
city = mumbai

In [11]:
# Methods

data = {'name':'joy','age':25,'height':5.2,'city': 'mumbai'}

# key: Returns a list of all keys in the dictionary.
print(data.keys())

# values: Returns a list of all values in the dictionary.
print(data.values())

# items: Returns a list of key-value pairs as tuples.
print(data.items())

# get(key,default): Returns the value for a key if it exists, else returns a default value.
print(data.get('age'))

# pop(key,default): Removes and returns the value associated with the key.
print('before pop()',data)
print(data.pop('city'))
print('after pop()',data)

dict_keys(['name', 'age', 'height', 'city'])
dict_values(['joy', 25, 5.2, 'mumbai'])
dict_items([('name', 'joy'), ('age', 25), ('height', 5.2), ('city', 'mumbai')])
25
before pop() {'name': 'joy', 'age': 25, 'height': 5.2, 'city': 'mumbai'}
mumbai
after pop() {'name': 'joy', 'age': 25, 'height': 5.2}