In [3]:
# set of integer

int_set = {1,3,6,5,2,4}
print(int_set)

# set of mixed data types

mixed_set = {"Orange",12,'L',20.6}
print(mixed_set)

{1, 2, 3, 4, 5, 6}
{20.6, 12, 'Orange', 'L'}

In [6]:
#  add and update

set = {1,3}
set.add(2)
print(set)

set.update([4,5,6])
print(set)

{1, 2, 3}
{1, 2, 3, 4, 5, 6}

In [10]:
# Remove and Discard

set = {1,2,3,4,5}
set.remove(3)
print(set)

set.discard(5)
print(set)

set.discard(4)
print(set)

{1, 2, 4, 5}
{1, 2, 4}
{1, 2}

In [14]:
# set Pop & Clear

set = {2,1,3,6,4,5}
set.pop()
print(set)

set.clear()
print(set)

{2, 3, 4, 5, 6}
set()

In [16]:
# Union Set

A = {1,2,3,4,5}
B = {4,5,6}

# Two ways we can print
print(A|B)
print(A.union(B))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [18]:
# Intersection Set

A = {1,2,3,4,5}
B = {4,5,6}

# Two ways we can print
print(A & B)
print(A.intersection(B))

{4, 5}
{4, 5}

In [20]:
#  Difference Set

A = {1,2,3,4,5}
B = {4,5,6}

print(A-B)
print(A.difference(B))
print(B-A)
print(B.difference(A))

{1, 2, 3}
{1, 2, 3}
{6}
{6}

In [28]:
# Symmetric Difference Set

A = {1,2,3,4,5}
B = {1,2,3,4,5,6}

print(A^B)
print(A.symmetric_difference(B))

{6}
{6}

In [47]:
'l' in ('apple')

True