In [2]:
# string 

data = "Lakshya Jain"
print(data)
print(type(data))

Lakshya Jain
<class 'str'>

In [10]:
# format

name = "Lakshya"
age = 19
print("My name is",name,"and my age is",age,".")
print("My name is {} and my age is {}.".format(name, age))
print(f'My name is {name} and my name is {age}.')

My name is Lakshya and my age is 19 .
My name is Lakshya and my age is 19.
My name is Lakshya and my name is 19.

In [19]:
# iterating through string
data = "wwww.lakshyajain1508.com"
for i in data:
    print(i)

w
w
w
w
.
l
a
k
s
h
y
a
j
a
i
n
1
5
0
8
.
c
o
m

In [28]:
# compare more than one string
data1 = "Lakshya"
data2 = "Jain"

data3 = data1 +" "+  data2
print(data3)

data4 = "Hello"
print(data4+", "+data3)

Lakshya Jain
Hello, Lakshya Jain

In [69]:
data = "www.lakshyajain1508.com"

In [44]:
# 1. upper() converts the string to uppercase
print("Upper: "+data.upper())

Upper: WWW.LAKSHYAJAIN1508.COM

In [45]:
# 2. lower() converts the string to lowercase
print("Lower: "+data.lower())

Lower: www.lakshyajain1508.com

In [46]:
# 3. partition() returns a tuple
print("Partition : ")
print(data.partition("com"))

Partition :
('www.lakshyajain1508.', 'com', '')

In [47]:
# 4. replace() replaces substring inside
print("Result:")
print("Old data: "+data)
print("New data: "+data.replace("www","https//"))

Result:
Old data: www.lakshyajain1508.com
New data: https//.lakshyajain1508.com

In [68]:
# 5. find() returns the index of first occurrence of substring

data = "Lakshya"
print("Find:")
print("Index:", data.find("L"))

Find:
Index: 0

In [73]:
# 6. rstrip() removes trailing characters
data = "www.lakshyajain1508.com   "
print("rstrip:", data.rstrip())

rstrip: www.lakshyajain1508.com

In [ ]:
# 7. split() splits string from left
data = "Lakshya"
print("Split:")
print(data.split("L"))

Split:
['', 'akshya']

In [ ]:
# 8. startswith() checks if string starts with the specified string
data = "www.lakshyajain1508.com"
print("Starts with 'www':", data.startswith("www"))

Starts with 'www': True

In [ ]:
# 9. isnumeric() checks numeric characters
data = "54321"
web = "1508"
print("Is numeric:", data.isnumeric())
print("Is numeric:", web.isnumeric())

Is numeric: True
Is numeric: True

In [88]:
# 10. index() returns index of substring\

data = "www.lakshyajain1508.com"
print("Index of 'Jain':", data.index("8"))

Index of 'Jain': 18