In [2]:
# for loop example

name = "Lakshya"
for i in name:
    print(i)

L
a
k
s
h
y
a

In [8]:
# using range function
# range end

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
# range (start,end)

for i in range(5,11):
    print(i)

5
6
7
8
9
10

In [19]:
# range(start,end,step)

for i in range (1,10,2):
    print(i)
    
print()

for i in range(0,10,2):
    print(i)

1
3
5
7
9

0
2
4
6
8

In [22]:
# print horizontal values

for i in range(1,41):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [24]:
# print horizontal values

for i in range(1,21):
    print(i,end="|")

1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|

In [26]:
for i in range(65,70):  #Ascii Table
    print(chr(i))

A
B
C
D
E

In [29]:
#  break

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [30]:
#  continue

for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# Table Of 2

for i in range(1,11):
    print("2 x ",i,"=",i*2)

2 x  1 = 2
2 x  2 = 4
2 x  3 = 6
2 x  4 = 8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18
2 x  10 = 20