In [ ]:
# string to int
num_str = "10"
num_int = int(num_str)
print(num_int)  # Output: 10
print(type(num_int))
print(type(num_str))

10
<class 'int'>
<class 'str'>

In [8]:
# string to float than int

num_str = "3.14"
num_float = float(num_str)
print(num_float) # 10
num_int = int(num_float)
print(num_int)
print(type(num_float))
print(type(num_int))

3.14
3
<class 'float'>
<class 'int'>

In [14]:
# int to string

num_int = 15
num_str0 = str(num_int)
print(num_str0)
print(type(num_str0))

15
<class 'str'>

In [23]:
# list(), tuple(), set(): Convert a value into a list, tuple, or set

data = "150806"
print(type(data))

data_list = list(data) # string to list
print(data_list)
print(type(data_list))

data_tuple = tuple(data) # string to tuple
print(data_tuple)
print(type(data_tuple))

data_set = set(data) # string to set
print(data_set)
print(type(data_set))

<class 'str'>
['1', '5', '0', '8', '0', '6']
<class 'list'>
('1', '5', '0', '8', '0', '6')
<class 'tuple'>
{'6', '0', '1', '8', '5'}
<class 'set'>

In [25]:
# int to boolean

num_1 = 15
bool_v = bool(num_1)
print(bool_v)

True

In [27]:
# Example of type conversion for each datatype

# Integer to float
num_int = 10
num_float = float(num_int)
print(f"Integer to float: {num_float} (type: {type(num_float)})")

# Float to integer
num_float = 3.14
num_int = int(num_float)
print(f"Float to integer: {num_int} (type: {type(num_int)})")

# Integer to string
num_int = 42
num_str = str(num_int)
print(f"Integer to string: {num_str} (type: {type(num_str)})")

# String to integer
num_str = "123"
num_int = int(num_str)
print(f"String to integer: {num_int} (type: {type(num_int)})")

# String to float
num_str = "3.14"
num_float = float(num_str)
print(f"String to float: {num_float} (type: {type(num_float)})")

# List to tuple
data_list = [1, 2, 3]
data_tuple = tuple(data_list)
print(f"List to tuple: {data_tuple} (type: {type(data_tuple)})")

# Tuple to list
data_tuple = (1, 2, 3)
data_list = list(data_tuple)
print(f"Tuple to list: {data_list} (type: {type(data_list)})")

# List to set
data_list = [1, 2, 2, 3]
data_set = set(data_list)
print(f"List to set: {data_set} (type: {type(data_set)})")

# Set to list
data_set = {1, 2, 3}
data_list = list(data_set)
print(f"Set to list: {data_list} (type: {type(data_list)})")

# Integer to boolean
num_int = 0
bool_val = bool(num_int)
print(f"Integer to boolean: {bool_val} (type: {type(bool_val)})")

# String to boolean
str_val = ""
bool_val = bool(str_val)
print(f"String to boolean: {bool_val} (type: {type(bool_val)})")

Integer to float: 10.0 (type: <class 'float'>)
Float to integer: 3 (type: <class 'int'>)
Integer to string: 42 (type: <class 'str'>)
String to integer: 123 (type: <class 'int'>)
String to float: 3.14 (type: <class 'float'>)
List to tuple: (1, 2, 3) (type: <class 'tuple'>)
Tuple to list: [1, 2, 3] (type: <class 'list'>)
List to set: {1, 2, 3} (type: <class 'set'>)
Set to list: [1, 2, 3] (type: <class 'list'>)
Integer to boolean: False (type: <class 'bool'>)
String to boolean: False (type: <class 'bool'>)